body {
	background-color:#EEEEEE;
}
header{
	max-width: 800px;
	height: 100px;
	background-color: #FFF;
	margin: auto;
	text-align: center;
}
section{
	max-width: 800px;
	background-color: #FFF;
	margin: auto;
}
footer{
	height: 100px;
	text-align: center;
}
.aviso{
	padding: 10px;
	background-color: #FF0000;
	color: white;
	border: 1px solid white;
	margin: 10px;
}